<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs') %>

        <%-include('partials/nav.ejs') %>

    </header>

    <section>

        <form action="/alumnos" method="post">

            <input type="number" id="matricula" name="matricula" placeholder="Matricula" required>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
            <input type="text" name="sexo" id="Sexo" placeholder="M o F" required>
            <input type="text" id="especialidad" name="especialidad" placeholder="Especialidad" required>

            <div style="float: right; margin-left: 5.5rem; margin-top: 1rem;">

                <button id="btnAgregar">Enviar informacion</button>

            </div>

            <div class="container">

                <table class="table table-hover">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Especialidad</th>
                    </tr>

                    <%

                        if(reg!=null){
                            for (var i = 0; i < reg.length; i++) { %>
                            <tr>
                                <td><%= reg[i].id %></td>
                                <td><%= reg[i].matricula %></td>
                                <td><%= reg[i].nombre %></td>
                                <td><%= reg[i].domicilio %></td>
                                <td><%= reg[i].sexo %></td>
                                <td><%= reg[i].especialidad %></td>
                            </tr>
                        <% }

                    }%>

                </table>

            </div>

        </form>

    </section>

    <footer>
        <%-include('partials/footer.ejs') %>
    </footer>
</body>
</html>