<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs') %>

        <%-include('partials/nav.ejs') %>

    </header>

    <!-- class="mt-5 mb-5 ms-5 me-5 -->
    <div class="conteiner m-5">
        
        <header>
            <center>
        <!--Logo-->
        <picture>
            <img src="https://www.toyota-global.com/pages/contents/showroom/emblem/passion/images/passion_img01.jpg" style="width: 100px;">
        </picture>

                <hr><h1>Toyota Mazatlan</h1><hr>
            </center>
        </header>

        <section class="container text-center">
            <form action="/cotizacion">
                <div>

                    <label for="">Numero Folio</label>
                    <input type="number" id="folio" name="folio" value="<%=folio%>" style="width: 100px; text-align: center;" class="rounded-1 m-3" required><br>

                    <label for="">Precio</label>
                    <input type="number" id="precio" name="precio" value="<%=precio%>" style="width: 120px; text-align: center;" class="rounded-1 m-3"><br>

                </div>

                <div class="">

                    <label for="">Descripcion de Automoviles</label>
                    <input type="text" id="desc" name="desc" value="<%=desc%>" style="width: 250px; text-align: center;" class="rounded-1 m-3"><br>

                    <label for="">Porcentaje de pago Inicial</label>
                    <input type="number" id="porcentaje" name="porcentaje" value="<%=porcentaje%>" style="width: 250px; text-align: center;" class="rounded-1 m-3">

                    <select type="number" id="plazo" name="plazo" value="<%=plazo%>" style="width: 100px; text-align: center" class="rounded-1 m-3">
                        <option value="0">Plazos</option>
                        <option value="12">12 meses</option>
                        <option value="24">24 meses</option>
                        <option value="36">36 meses</option>
                        <option value="48">48 meses</option>
                    </select>

                </div>

            <article class="row justify-content-center">
                <div class="align-middle m-2">

                    <button id="btnCalcular" class="btn btn-secondary m-5" type="submit" style="width: 120px;" >Calcular</button>
                    <button id="btnLimpiar" class="btn btn-secondary m-5" type="button" style="width: 120px;">Limpiar</button>

                </div>
            </article>

            <center>
                <div class="d-flex justify-content-center" style="width: 500px;">
                    <div style="text-align: center" class="input-group m-3 d-flex flex-column">
                        <label for="" style="font-weight: bold;">Pago inicial $</label><br>
                        <label for="" style="font-weight: bold;">Total a Financiar $</label><br>
                        <label for="" style="font-weight: bold;">Pago Mensual $</label><br>
                    </div>

                    <div style="text-align: center" class="input-group m-3 d-flex flex-column">
                        <%
                            let pago_ini = 0
                            let total_fin = 0
                            let pago_mensual = 0

                            if (precio != '' && porcentaje != '' && plazo != 0 && folio != '' && desc != ''){ 
                                pago_ini = parseInt(precio * porcentaje / 100)
                                total_fin = parseInt(precio - pago_ini)
                                pago_mensual = parseInt(total_fin / plazo)
                                
                                %>
                                <label id="pago_ini" style="font-weight: bold;"><%= pago_ini %></label><br>
                                <label id="total_fin" style="font-weight: bold;"><%= total_fin %></label><br>
                                <label id="pago_mensual" style="font-weight: bold;"><%= pago_mensual %></label>
                                <%
                            }
                            else{
                                %>
                                <script>
                                    alert("Llene todos los campos");
                                </script>
                                <%
                            }
                                
                        %> 
                    </div>
                </div>
            </center>

            </form>
        </section>
    </div>
    
    <%-include('partials/footer.ejs') %>

    <script>
        let folio = document.getElementById('folio');
        let desc = document.getElementById('desc');
        let precio = document.getElementById('precio');
        let porcentaje = document.getElementById('porcentaje');
        let plazo = document.getElementById('plazo');
        let pago_ini = document.getElementById('pago_ini');
        let total_fin = document.getElementById('total_fin');
        let pago_mensual = document.getElementById('pago_mensual');
        
        function limpiar(){ 
                
    
                folio.value = '';      
                desc.value = '';      
                precio.value = '';      
                porcentaje.value = '';      
                plazo.selectedIndex = 0;      
                pago_ini.innerHTML = '';      
                total_fin.innerHTML = '';      
                pago_mensual.innerHTML = '';      
        }

        function valiEmpty(){
            if (folio.value != '' &&
                desc.value != ''){
                
            }
            else{
                alert('Porfavor no deje espacios vacios')
            }
        }

            document.getElementById("btnLimpiar").addEventListener("click", limpiar);
    </script>

</body>
</html>

