<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
</head>
<body>
    <%-include('partials/header.ejs') %>

    <%-include('partials/nav.ejs') %>

    <p class="mt-5 mb-5 ms-5 me-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae maiores praesentium veniam amet deserunt aspernatur enim facere corporis fugiat perspiciatis. Officia expedita minus exercitationem autem est. Adipisci autem nulla nihil?
        Exercitationem repellat soluta ab ducimus. Veritatis aperiam autem consequuntur, possimus quos, dolorem quam dolor, magnam perferendis tenetur quibusdam architecto dignissimos? Repellendus aut assumenda laudantium doloremque exercitationem optio nobis fugit illo!
        Rem quo error voluptatum consequatur laborum veritatis commodi eos, deleniti incidunt eaque totam praesentium libero quia et mollitia ullam labore eligendi ex? A eligendi, voluptate repudiandae optio id aut iste.
        Provident adipisci inventore quo veritatis esse beatae excepturi aut. Sequi, laudantium rem! Laudantium aliquam adipisci officiis? Fuga illum delectus vero, natus enim unde quaerat reprehenderit culpa eius, repellendus eum necessitatibus.
        Autem, nam, nisi pariatur modi natus cumque, earum eum at blanditiis fugiat vero nostrum dolorum eaque veniam ut aliquid laborum! Ullam vero expedita optio cum reprehenderit et a labore nesciunt!
    </p>

    <%-include('partials/footer.ejs') %>
</body>
</html>